Repository takuan-osho/feed-finder: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit

Add GitHub Actions workflows for CI and security check
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Fix compatibility date
  wrangler.jsonc
Due: none

Remove eslint
  eslint.config.js
Due: none

Fix URL validation regex to correctly handle path characters
  src/components/SearchForm.tsx
Due: biome, typecheck

Fix tasks to follow the current implementations
  .kiro/specs/tasks.md
Due: none

Update biome.json
  biome.json
Due: none

Use 2 spaces indent style
  biome.json
  components.json
  package.json
  src/App.css
  src/App.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
  src/components/ui/alert.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/index.css
  src/lib/utils.ts
  src/lib/variants.ts
  src/main.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.worker.json
  vite.config.ts
  worker-configuration.d.ts
  worker/index.ts
  wrangler.jsonc
Due: biome, typecheck

Spread inputs into clsx for slightly cleaner output
  src/lib/utils.ts
Due: biome, typecheck

Replace __dirname with an ESM-compatible alternative in vite.config.ts
  package.json
  vite.config.ts
Due: typecheck

Consolidate duplicate override sections for better maintainability.
  biome.json
  package-lock.json
  package.json
Due: none

Fix by claude code
  biome.json
Due: none

Use react and vite instead of vanilla HTML and vite (#8)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .kiro/specs/design.md
  .kiro/specs/requirements.md
  .kiro/specs/tasks.md
  README.md
  biome.json
  components.json
  index.html
  lefthook.yml
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
  src/components/ui/alert.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/index.css
  src/index.ts
  src/lib/utils.ts
  src/lib/variants.ts
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.worker.json
  vite.config.js
  vite.config.ts
  worker-configuration.d.ts
  worker/index.ts
  wrangler.jsonc
Due: biome, typecheck

Fix GHA workflow for deployment
  .github/workflows/ci.yml
  wrangler.jsonc
Due: none

fix
  wrangler.jsonc
Due: none

fix
  .github/workflows/ci.yml
Due: none

Fix GHA workflow for deployment (#9)
  .github/workflows/ci.yml
  wrangler.jsonc
Due: none

Fix production dependency installation in CI workflow
  .github/workflows/ci.yml
Due: none

Fix production dependency installation in CI workflow (#10)
  .github/workflows/ci.yml
Due: none

Implement feed search API and discovery logic
  src/App.tsx
  worker/index.ts
Due: typecheck

Fix some codes reviewed by CodeRabbit
  worker/index.ts
Due: typecheck

Implement feed search API and discovery logic (#11)
  src/App.tsx
  worker/index.ts
Due: typecheck

Add Vitest configuration and tests for feed discovery functionality
  package-lock.json
  package.json
  vitest.config.ts
  worker/feedDiscovery.test.ts
Due: typecheck

Update worker/feedDiscovery.test.ts
  worker/feedDiscovery.test.ts
Due: typecheck

Add test job to CI workflow and update deployment dependencies
  .github/workflows/ci.yml
Due: none

Fix tests
  worker/feedDiscovery.test.ts
Due: typecheck

Export findMetaFeeds function for testing and update related tests
  worker/feedDiscovery.test.ts
  worker/index.ts
Due: typecheck

Add Vitest configuration and tests for feed discovery functionality (#12)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  vitest.config.ts
  worker/feedDiscovery.test.ts
  worker/index.ts
Due: typecheck

Implement SSRF protection and security headers to prevent critical vulnerabilities
  worker/index.ts
Due: typecheck

Remove XSS protection header and enhance localhost validation in URL checks
  worker/index.ts
Due: typecheck

Add secure CORS implementation with origin allowlist
  worker/index.ts
Due: typecheck

Update worker/index.ts
  worker/index.ts
Due: typecheck

Refactor: Extract ALLOWED_ORIGINS to shared constant
  worker/index.ts
Due: typecheck

Add secure CORS implementation with origin allowlist (#14)
  worker/index.ts
Due: typecheck

Implement type-safe error handling and enhanced SSRF protection
  package-lock.json
  package.json
  worker/feedDiscovery.test.ts
  worker/index.test.ts
  worker/index.ts
  worker/integration.test.ts
Due: typecheck

Refactor default feed title assignment to use a constant
  worker/index.ts
Due: typecheck

Fix duplicated functions and its related imports
  worker/index.test.ts
  worker/index.ts
Due: typecheck

Path conditions:
  biome: any of: src/**/*.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
