Repository takuan-osho/feed-finder: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit

chore: Upgrade dependencies and adapt code
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  vite.config.ts
  worker-configuration.d.ts
  worker/http/errors.ts
  worker/integration.test.ts
  worker/net/fetch.test.ts
Due: typecheck

chore: Ignore generated worker types in Biome
  biome.json
Due: none

fix: Address PR review feedback
  .lsmcp/config.json
  package-lock.json
  package.json
  worker/http/errors.test.ts
  worker/http/errors.ts
Due: typecheck

fix: Align error ID alphabet order
  worker/http/errors.test.ts
  worker/http/errors.ts
Due: typecheck

chore: Upgrade dependencies and tooling (#49)
  .lsmcp/config.json
  biome.json
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  vite.config.ts
  worker-configuration.d.ts
  worker/http/errors.test.ts
  worker/http/errors.ts
  worker/integration.test.ts
  worker/net/fetch.test.ts
Due: typecheck

refactor: Modernize TypeScript tooling
  package-lock.json
  package.json
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
  vite.config.ts
  worker/discovery/html.test.ts
  worker/discovery/html.ts
  worker/index.test.ts
Due: biome, typecheck

fix: Address refactor review findings
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.test.tsx
  src/components/SearchForm.tsx
  worker/index.test.ts
Due: biome, typecheck

test: Strengthen HTML fallback parser mock
  worker/discovery/html.test.ts
Due: typecheck

fix: Address PR review feedback
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.test.tsx
  src/components/SearchForm.tsx
  worker/discovery/html.test.ts
  worker/discovery/html.ts
Due: biome, typecheck

fix: Use native keyboard activation
  src/accessibility.test.tsx
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.test.tsx
  src/components/SearchForm.tsx
Due: biome, typecheck

refactor: Modernize TypeScript tooling (#50)
  package-lock.json
  package.json
  src/accessibility.test.tsx
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.test.tsx
  src/components/SearchForm.tsx
  vite.config.ts
  worker/discovery/html.test.ts
  worker/discovery/html.ts
  worker/index.test.ts
Due: biome, typecheck

refactor: Harden console policy and ARIA IDs
  biome.json
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  vite.config.ts
  worker/discovery/html.test.ts
  worker/integration.test.ts
Due: biome, typecheck

refactor: Harden console policy and ARIA IDs (#51)
  biome.json
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  vite.config.ts
  worker/discovery/html.test.ts
  worker/integration.test.ts
Due: biome, typecheck

chore: Route traces and logs to Grafana
  wrangler.jsonc
Due: none

chore: Route traces and logs to Grafana (#52)
  wrangler.jsonc
Due: none

Remove sampling rates because I decided to use adaptive features in Grafana Cloud
  wrangler.jsonc
Due: none

Remove sampling rates because I decided to use adaptive features in Grafana Cloud (#53)
  wrangler.jsonc
Due: none

ci: Migrate deploy to Cloudflare Workers Builds
  .github/workflows/ci.yml
  wrangler.jsonc
Due: none

ci: Migrate deploy to Cloudflare Workers Builds (#54)
  .github/workflows/ci.yml
  wrangler.jsonc
Due: none

Remove lsmcp mcp server
  .mcp.json
Due: none

Remove lsmcp mcp server (#55)
  .mcp.json
Due: none

feat: Add structured JSON logs and HTTP access logging
  package-lock.json
  package.json
  worker/http/errors.test.ts
  worker/http/errors.ts
  worker/index.access-log.test.ts
  worker/index.ts
  worker/observability/logger.test.ts
  worker/observability/logger.ts
  wrangler.jsonc
Due: typecheck

fix: Use pino browser entry to stay compatible with Workers runtime
  worker/index.access-log.test.ts
  worker/observability/logger.ts
  worker/observability/pino-browser.d.ts
Due: typecheck

feat: Add structured JSON logs and HTTP access logging (#56)
  package-lock.json
  package.json
  worker/http/errors.test.ts
  worker/http/errors.ts
  worker/index.access-log.test.ts
  worker/index.ts
  worker/observability/logger.test.ts
  worker/observability/logger.ts
  worker/observability/pino-browser.d.ts
  wrangler.jsonc
Due: typecheck

Remove an unnecessary flag
  wrangler.jsonc
Due: none

Remove an unnecessary flag (#57)
  wrangler.jsonc
Due: none

fix: Preserve Worker access logs
  vite.config.test.ts
  vite.config.ts
Due: typecheck

fix: Preserve Worker access logs (#58)
  vite.config.test.ts
  vite.config.ts
Due: typecheck

feat: Add RSS reader links
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/lib/feedReaders.test.ts
  src/lib/feedReaders.ts
Due: biome, typecheck

chore: Override vulnerable transitive deps
  package-lock.json
  package.json
Due: none

chore: Bump ws override
  package-lock.json
  package.json
Due: none

chore: Update brace-expansion lockfile
  package-lock.json
Due: none

Path conditions:
  biome: any of: src/**/*.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
