Repository takuan-osho/feed-finder: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit

Add timeout handling to safeFetch function for improved request management
  worker/index.ts
Due: typecheck

Refactor findMetaFeeds to use secure string-based parsing and add tests for ReDoS vulnerability
  package-lock.json
  package.json
  worker/index.ts
  worker/integration.test.ts
Due: typecheck

Fix codes pointed out vulnerable by CodeRabbit
  package.json
  worker/index.test.ts
  worker/index.ts
  worker/integration.test.ts
Due: typecheck

Refactor CI workflow by removing artifact upload and download steps, simplifying deployment process to Cloudflare Workers
  .github/workflows/ci.yml
Due: none

Update Node.js engine requirement and upgrade ESLint dependencies
  package-lock.json
Due: none

Add tests for findMetaFeeds to validate MIME type case sensitivity
  worker/index.test.ts
  worker/index.ts
Due: typecheck

Remove unused configuration comments and streamline the wrangler.jsonc file
  wrangler.jsonc
Due: none

Add support for detecting application/xml MIME type in findMetaFeeds and refactor feed type handling
  worker/index.test.ts
  worker/index.ts
Due: typecheck

Add test for detecting feeds with application/xml and charset parameter in findMetaFeeds
  worker/index.test.ts
Due: typecheck

Update SUPPORTED_FEED_TYPES to include application/rdf+xml and clarify XML fallback behavior
  worker/index.ts
Due: typecheck

Refactor feed type detection in findMetaFeeds to use exact match instead of substring check
  worker/index.ts
Due: typecheck

Add support for case-insensitive link tag detection in findMetaFeeds
  worker/index.test.ts
  worker/index.ts
Due: typecheck

Refactor findMetaFeeds to use regex for case-insensitive <link> tag detection
  worker/index.ts
Due: typecheck

Fix the mocking approach
  worker/index.test.ts
Due: typecheck

Update spec files
  .kiro/specs/design.md
  .kiro/specs/requirements.md
  .kiro/specs/tasks.md
Due: none

Add files for AI agents
  .claude/settings.local.json
  .mcp.json
  AGENTS.md
  CLAUDE.md
Due: none

Replace serena with @mizchi/lsmcp
  .claude/settings.local.json
  .gitignore
  .mcp.json
  package-lock.json
  package.json
Due: none

Update TODO list
  .kiro/specs/tasks.md
Due: none

feat: implement lazy loading for ResultDisplay component and add performance optimization tests
  .claude/settings.local.json
  .kiro/specs/tasks.md
  .lsmcp/config.json
  index.html
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/ResultDisplay.tsx
  src/test/setup.ts
  vite.config.ts
  worker/index.test.ts
  worker/index.ts
Due: biome, typecheck

Fix high blast radius
  .claude/settings.local.json
Due: none

Update worker/index.test.ts
  worker/index.test.ts
Due: typecheck

Update README
  README.md
Due: none

Add Vitest types to config to remove warnings
  vite.config.ts
Due: typecheck

Update vite.config.ts
  vite.config.ts
Due: typecheck

Update src/test/setup.ts
  src/test/setup.ts
Due: biome, typecheck

Fix codes pointed out by CodeRabbit
  src/App.test.tsx
Due: typecheck

Enhance deploy script to include GitHub workflow details and commit message
  .github/workflows/ci.yml
  package.json
Due: none

Revert "Enhance deploy script to include GitHub workflow details and commit message"
  .github/workflows/ci.yml
  package.json
Due: none

refactor(worker): modularize index.ts into focused modules and add unit tests
  worker/config.test.ts
  worker/config.ts
  worker/discovery/commonPaths.test.ts
  worker/discovery/commonPaths.ts
  worker/discovery/html.test.ts
  worker/discovery/html.ts
  worker/discovery/index.test.ts
  worker/discovery/index.ts
  worker/feedDiscovery.test.ts
  worker/http/cors.test.ts
  worker/http/cors.ts
  worker/http/errors.test.ts
  worker/http/errors.ts
  worker/index.modular.ts
  worker/index.test.ts
  worker/integration.test.ts
  worker/net/fetch.test.ts
  worker/net/fetch.ts
  worker/types.test.ts
  worker/types.ts
  worker/validation/request.test.ts
  worker/validation/request.ts
  worker/validation/url.test.ts
  worker/validation/url.ts
Due: typecheck

Update worker/discovery/commonPaths.test.ts
  worker/discovery/commonPaths.test.ts
Due: typecheck

Remove an unnecessary allowed origin
  worker/config.ts
Due: typecheck

WIP: Refactor tests and imports for improved clarity and consistency
  worker-configuration.d.ts
  worker/config.test.ts
  worker/discovery/commonPaths.test.ts
  worker/discovery/commonPaths.ts
  worker/http/cors.test.ts
  worker/http/errors.test.ts
  worker/index.test.ts
  worker/net/fetch.test.ts
  worker/net/fetch.ts
Due: typecheck

Implement semantic HTML
  src/App.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
Due: biome, typecheck

Enhance accessibility by adding ARIA roles and labels to loading indicators and alerts
  src/App.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
Due: biome, typecheck

Refactor accessibility tests and enhance keyboard navigation support in components
  src/App.test.tsx
  src/App.tsx
  src/accessibility.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
  vitest.config.ts
Due: biome, typecheck

Add focus management for error handling in SearchForm and implement focus management tests
  src/accessibility.test.tsx
  src/components/SearchForm.tsx
Due: biome, typecheck

Fix a test
  src/App.test.tsx
Due: typecheck

Refactor vitest configuration to use node:path and node:url for improved path handling
  vitest.config.ts
Due: typecheck

Update claude settings
  .claude/settings.local.json
Due: none

Path conditions:
  biome: any of: src/**/*.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
