Repository takuan-osho/feed-finder: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit

Take care of a critical security issue.
  src/components/SearchForm.test.tsx
  src/components/SearchForm.tsx
Due: biome, typecheck

Refine security headers by using CSP
  worker/http/cors.test.ts
  worker/http/cors.ts
Due: typecheck

Update tasks.md
  .kiro/specs/tasks.md
Due: none

Refine test codes to remove brittle tests
  worker/http/cors.test.ts
Due: typecheck

Remove redundant CORS headers from addSecurityHeaders function
  worker/http/cors.ts
Due: typecheck

Refactor CORS test cases to ensure preflight-only headers are not set on regular responses
  worker/http/cors.test.ts
Due: typecheck

Add frame-ancestors directive to Content-Security-Policy in CORS tests
  worker/http/cors.test.ts
Due: typecheck

Remove navigation elements from App component and update accessibility tests accordingly
  src/App.tsx
  src/accessibility.test.tsx
Due: typecheck

Add test and implementations for discovering relative feeds from subpaths
  worker/discovery/commonPaths.test.ts
  worker/discovery/commonPaths.ts
Due: typecheck

ci: Add test coverage configuration with v8 provider
  .github/workflows/ci.yml
  package-lock.json
  package.json
  vitest.config.ts
Due: typecheck

chore: Extend Lefthook linting to include worker directory
  lefthook.yml
  worker/discovery/commonPaths.test.ts
Due: typecheck

refactor: Create shared type definitions for frontend and backend
  shared/types.ts
  src/components/ResultDisplay.tsx
  tsconfig.app.json
  tsconfig.worker.json
  worker/types.ts
Due: biome, typecheck

test: Add comprehensive tests for ResultDisplay component
  src/components/ResultDisplay.test.tsx
Due: biome, typecheck

chore: Strengthen TypeScript compiler options
  tsconfig.node.json
Due: none

feat: Add Zod runtime type validation for API responses
  src/App.tsx
  src/lib/schemas.test.ts
  src/lib/schemas.ts
Due: biome, typecheck

Ensure fake timers reset in ResultDisplay tests
  src/components/ResultDisplay.test.tsx
Due: biome, typecheck

ci: Pin runners to ubuntu-24.04
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci: Upgrade workflow actions and Node.js to v24
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci: Bump security workflow actions
  .github/workflows/security.yml
Due: none

Align node version in CI
  .github/workflows/security.yml
Due: none

chore: Upgrade Biome to 2.4.13 with Tailwind v4
  biome.json
  package-lock.json
  package.json
  src/components/ui/alert.tsx
  src/components/ui/card.tsx
Due: biome, typecheck

Update package.json
  package.json
Due: none

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

chore: Upgrade CI workflows, Node.js 24, and Biome 2.4.13 (#39)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  biome.json
  package-lock.json
  package.json
  src/components/ui/alert.tsx
  src/components/ui/card.tsx
Due: biome, typecheck

Remove flaky parallel timing assertion
  worker/index.test.ts
Due: typecheck

Assert common path fetches overlap
  worker/index.test.ts
Due: typecheck

fix: Remove flaky micro-timing assertion in parallel processing test (#40)
  worker/index.test.ts
Due: typecheck

chore: Translate UI text and project docs to English
  .kiro/specs/design.md
  .kiro/specs/requirements.md
  .kiro/specs/tasks.md
  AGENTS.md
  CLAUDE.md
  index.html
  src/App.test.tsx
  src/App.tsx
  src/accessibility.test.tsx
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.test.tsx
  src/components/SearchForm.tsx
  src/lib/schemas.test.ts
  src/lib/schemas.ts
  worker/index.test.ts
Due: biome, typecheck

Configure Dependabot for GitHub Actions updates
  .github/dependabot.yml
Due: none

fix: Move groups out of schedule in dependabot.yml
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

chore: Update npm dependencies within semver ranges
  package-lock.json
Due: none

feat: Add theme toggle and refresh visual design
  src/App.test.tsx
  src/App.tsx
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
  src/index.css
Due: biome, typecheck

refactor: Consolidate theme styles and fix FOUC
  index.html
  src/App.test.tsx
  src/App.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
  src/index.css
  src/lib/theme.ts
Due: biome, typecheck

fix: Address theme toggle a11y and visual bugs
  index.html
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/lib/theme.test.ts
  src/lib/theme.ts
Due: biome, typecheck

Apply fixed CodeRabbit suggested
  src/components/SearchForm.tsx
  src/lib/theme.test.ts
  src/lib/theme.ts
Due: biome, typecheck

feat: Add light/dark theme toggle and refresh design (#47)
  index.html
  src/App.test.tsx
  src/App.tsx
  src/components/ResultDisplay.test.tsx
  src/components/ResultDisplay.tsx
  src/components/SearchForm.tsx
  src/index.css
  src/lib/theme.test.ts
  src/lib/theme.ts
Due: biome, typecheck

test: Wait for lazy boundary in accessibility tests
  src/accessibility.test.tsx
Due: typecheck

test: Strengthen keyboard accessibility assertions
  src/accessibility.test.tsx
Due: typecheck

test: Stabilize accessibility tests against lazy loading (#48)
  src/accessibility.test.tsx
Due: typecheck

Path conditions:
  biome: any of: src/**/*.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
